@import "src/shared/styles/global.scss";

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: $padding-xxl 0;
  position: relative;

  // 480px
  // 640px
  // 960px
  // TODO: Make const breakpoints
  @media (max-width: 960px) {
    flex-direction: column;
  }
}

// TODO: Delete inherited from H1-H6 styles
// TODO: Make const fonts
.title {
  font-weight: 400;
  color: $color-title;
  line-height: 140%;
  font-size: 72px;

  // TODO: Make const breakpoints
  @media (min-width: 960px) and (max-width: 1050px) {
    line-height: 64px;
    font-size: 48px;
  }

  // TODO: Make const breakpoints
  @media (max-width: 640px) {
    line-height: 64px;
    font-size: 48px;
  }
}

// TODO: Make const fonts
.desc {
  font-size: 24px;
  line-height: 160%;
  font-weight: 300;
}

.button {
  height: 56px;

  margin-top: 32px;
  display: inline-block;

  font-size: 20px;
  line-height: 56px;

  padding: 0 $padding-xxl;
  border-radius: $border-radius;
  color: #ffffff;
  background-color: $color-primary;

  box-shadow: 0px 12px 32px 8px rgba(97, 0, 255, 0.16);
}

.heroImage {
  width: 591px;
  height: 582px;

  position: absolute;
  right: 0;

  @media (max-width: 960px) {
    position: relative;
  }
}

.canvas {
  position: relative;
  top: -250px;
  left: -400px;

  img {
    user-select: none;
  }

  * {
    transition: transform 0.2s;
  }
}

.phone {
  position: absolute;
  width: 286px;
  height: 449px;

  left: 45px;
  top: 71px;

  background: linear-gradient(166.48deg, #f9fafc 25.73%, #ffffff 88.82%);
  box-shadow: -48px -24px 120px #ffffff, 48px 24px 30px rgba(235, 240, 247, 0.5);
  border-radius: 48px;

  z-index: 2;
}

.appleIcon {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 0px;
  top: 142px;

  background: linear-gradient(166.48deg, #f9fafc 25.73%, #ffffff 88.82%);
  box-shadow: -48px -24px 32px #ffffff, 48px 24px 32px rgba(235, 240, 247, 0.5);
  border-radius: 16px;

  z-index: 4;

  display: flex;
  align-items: center;
  justify-content: center;
}
.androidIcon {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 148px;
  top: 222px;

  background: linear-gradient(166.48deg, #f9fafc 25.73%, #ffffff 88.82%);
  box-shadow: -48px -24px 32px #ffffff, 48px 24px 32px rgba(235, 240, 247, 0.5);
  border-radius: 16px;

  z-index: 4;

  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 106px;
  top: 337px;

  background: #fefefe;
  box-shadow: -8px -8px 24px #ffffff, 7px 7px 24px 2px #ced6e6;
  filter: blur(16px);
  border-radius: 42px;

  z-index: 4;
}

.darkDecor {
  position: absolute;
  width: 160px;
  height: 130px;
  left: 214px;
  top: 0px;

  background-color: #6100ff;
  border-radius: 25px;

  z-index: 3;
}

.darkDecorMask {
  position: absolute;
  width: 286px;
  height: 449px;

  left: 45px;
  top: 71px;

  background: linear-gradient(166.48deg, #f9fafc 25.73%, #ffffff 88.82%);
  border-radius: 48px;

  z-index: 3;
}

.blured {
  position: absolute;
  width: 195px;
  height: 170px;
  left: 244px;
  top: 30px;

  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  perspective: 1px;
  transform: translate3d(0, 0, 0) scale(1);

  z-index: 4;
}

.figmaWrapper {
  position: absolute;
  left: 35px;
  top: 35px;
}

.reactWrapper {
  position: absolute;
  left: 35px;
  top: 95px;
}

.textIcon {
  position: absolute;
  width: 40px;
  height: 40px;

  background: rgba(254, 254, 254, 0.48);
  box-shadow: -8px -8px 24px #ffffff, 8px 8px 24px 2px #e9edf7;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.textWrapper {
  position: absolute;
  left: 55px;
  top: 8px;
}

.textWrapperTitle {
  position: absolute;

  width: 62.06px;
  height: 12.26px;
  background: #ffffff;
  opacity: 0.48;
  border-radius: 2px;
}

.textWrapperDesc {
  position: absolute;
  top: 18px;

  width: 29.88px;
  height: 7.66px;
  background: #ffffff;
  opacity: 0.48;
  border-radius: 2px;
}

.textDecor {
  font-family: sans-serif;
  position: absolute;
  left: 361px;
  top: 396px;
  user-select: none;

  font-weight: 500;
  font-size: 180px;
  line-height: 141.4px;

  color: #fff;
  text-shadow: -48px -24px 32px #ffffff, 48px 24px 32px rgba(235, 240, 247, 0.5);
}

.textSelect {
  position: absolute;
  width: 241px;
  height: 95px;
  left: 351px;
  top: 467px;

  border: 2px solid #f0f3ff;
  background-color: rgba(226, 220, 255, 0.05);
  backdrop-filter: blur(5px);

  z-index: 5;

  > div {
    position: absolute;
    width: 14px;
    height: 14px;

    left: -7px;
    top: -7px;

    border-radius: 4px;
    background-color: #f0f3ff;
  }
}
