@import "~normalize.css/normalize.css";
@import "src/shared/styles/global.scss";

// Global styles
* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

a,
a:hover {
  text-decoration: none;
}

html,
body {
  background-color: $color-background;
  color: $color-secondary;
}

// Layout stuff
.layout {
  justify-content: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
}
