@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

// Colors
$color-background: #fafafc;
$color-background-dark: #090018;
$color-primary: #6100ff;
$color-title: #000000;
$color-secondary: #716881;

// Variables
$padding-xs: 4px;
$padding-s: 8px;
$padding-m: 12px;
$padding-l: 16px;
$padding-xl: 24px;
$padding-xxl: 32px;
$padding-k: 48px;

$border-radius: 12px;

// Paddings
$horizontal-padding: $padding-m;

// Dimens
$layout-max-width: 1110px;

// Fonts
$font-size-normal: 16px;

// Global styles
.container {
  margin: 0 auto;
  box-sizing: content-box;
  max-width: $layout-max-width;
  flex-direction: column;

  @media (max-width: 960px) {
    padding: 0 $padding-l;
  }
}
