// Colors
$color-background: #101011;
$color-primary: #6100ff;
$color-title: #ffffff;
$color-secondary: #857ca8;

// Variables
$padding-xs: 4px;
$padding-s: 8px;
$padding-m: 12px;
$padding-l: 16px;
$padding-xl: 24px;
$padding-xxl: 32px;
$padding-k: 48px;

$border-radius: 10px;

// Paddings
$horizontal-padding: $padding-m;

// Dimens
$layout-max-width: 1110px;

// Fonts
$font-size-normal: 16px;
