@import "src/shared/styles/global.scss";

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: $padding-xxl;
  padding-bottom: $padding-xxl;

  // TODO: Make const breakpoints
  @media (max-width: 640px) {
    flex-direction: column;
  }
}

.logoWrapper {
  display: inline-block;
}

.logo {
  width: 101px;
  height: 38px;
}

.nav {
  align-self: flex-end;

  @media (max-width: 640px) {
    margin: $padding-l auto 0 auto;
  }
}
