@import "src/shared/styles/global.scss";

.description {
  max-width: 445px;
  font-weight: 300;
  font-size: 20px;
  line-height: 160%;
  color: #716881;

  margin-bottom: 32px;

  @media (max-width: 640px) {
    br {
      display: none;
    }
  }
}

.author {
  margin-top: 32px;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.column {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 24px;
}

.name {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #13032d;

  padding: 0;
  margin: 0;
}

.title {
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  color: #716881;

  padding: 0;
  margin: 0;

  margin-top: 4px;
}
